<footer class="pull-left">
	<div class='container'>
	<p class='text-center'><%= link_to 'about us', about_path%>
			<%= link_to 'articles', articles_path%>
			<%= link_to 'opinions', opinions_path%></p>
	</div>
</footer>